################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ConsoleApp1
/MvcTodo/.vs
/temp/MvcTodo
/WindowsFormsApp1
/MvcMovie
/MvcTodo/MvcTodo/bin/Debug/net8.0
/MvcTodo/MvcTodo/obj
/MvcTodo/MvcTodoTest/bin/Debug/net8.0
