################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ConsoleApp1
/MvcTodo/.vs
/temp/MvcTodo
/WindowsFormsApp1
/MvcMovie
/MvcTodo/MvcTodo/bin
/MvcTodo/MvcTodo/obj
/MvcTodo/MvcTodoTest/bin
MvcTodo/MvcTodoTest/obj/
